
body {
    background-color: cornsilk;
}
.menu {
    width: 960px;
    padding: 10px;
}

.buttonbig {
    display: inline-block;
    border: 2px solid transparent;
    text-align: center;
}
.buttonbig:hover {
    width: 128px;
    height: 163px;
    border: 2px solid;
}
.button {
    background-color: crimson;
    width: 128px;
    height: 25px;
    padding-top: 10px;
}

.button a {
    text-decoration: none;
    font: 15px bold;
    color:#fff;
}

.button:hover {
    background-color: #ffd800;
    color:#000;
}


